@charset "UTF-8";

/*nav,footer,variables , mixins y keyframes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width: 10px;
}

body::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #279d2e;
  border-radius: 10px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.nproductos {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 30px;
  color: #279d2e;
}

@keyframes moverse {
  33% {
    transform: translateX(-3px);
  }

  66% {
    transform: translateX(3px);
  }

  99% {
    transform: translateX(0px);
  }
}

.nav {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 20px hsla(0, 0%, 50.2%, 0.25);
  z-index: 999;
  flex-direction: column;
}

.nav .contenedorNav {
  height: 100px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav .contenedorNav .logo {
  width: 125px;
  height: 100%;
  position: absolute;
  left: 0;
}

.nav .contenedorNav .logo .imgLogo {
  height: 100%;
  width: 100%;
  background-image: url(img/logo.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav .contenedorNav .estilosBuscador {
  border: 1px solid #279d2e;
  height: 45px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.nav .contenedorNav .estilosBuscador .buscador {
  background-color: white;
  width: 80%;
  height: 100%;
  border: none;
  margin-left: 6%;
  outline: none;
}

.nav .contenedorNav .estilosBuscador .lupa {
  width: 23px;
  height: 23px;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  -o-object-fit: contain;
  object-fit: contain;
  background-image: url(https://baproar.vtexassets.com/assets/vtex/assets-builder/baproar.bapro-store-theme/2.0.39/header/search-mobile___032b550….png);
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 14px;
}

.nav .contenedorNav .estilosBuscador .seleccionados {
  position: absolute;
  width: 400px;
  max-height: 420px;
  background-color: whitesmoke;
  top: 79%;
  border: 1px solid #279d2e;
  display: none;
  overflow-y: scroll;
  border-radius: 7px;
  z-index: 100000000000000000000;
}

.nav .contenedorNav .estilosBuscador .seleccionados .seccionP {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.nav .contenedorNav .estilosBuscador .seleccionados .seccionP .tarjeta {
  margin: initial;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 2px 6px hsla(0, 0%, 54.9%, 0.5);
}

.nav .contenedorNav .estilosBuscador .seleccionados .seccionP .tarjeta .imgTarjeta {
  width: 30%;
  height: 80%;
  background-image: url(../img/celular.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav .contenedorNav .estilosBuscador .seleccionados .seccionP .tarjeta .imgNombre {
  width: 30%;
  color: #3c3c3b;
  font-weight: 500;
}

.nav .contenedorNav .estilosBuscador .seleccionados .seccionP .tarjeta .imgPrecio {
  width: 20%;
  color: #279d2e;
  font-size: 1.1rem;
  font-weight: 700;
}

.nav .contenedorNav .seleccionados::-webkit-scrollbar {
  -webkit-appearance: none;
}

.nav .contenedorNav .seleccionados::-webkit-scrollbar:vertical {
  width: 10px;
}

.nav .contenedorNav .seleccionados::-webkit-scrollbar-button:increment,
.nav .contenedorNav .contenedor::-webkit-scrollbar-button {
  display: none;
}

.nav .contenedorNav .seleccionados::-webkit-scrollbar:horizontal {
  height: 10px;
}

.nav .contenedorNav .seleccionados::-webkit-scrollbar-thumb {
  background-color: #279d2e;
  border-radius: 10px;
  border: 2px solid #f1f2f3;
}

.nav .contenedorNav .seleccionados::-webkit-scrollbar-track {
  border-radius: 10px;
}

.nav .contenedorNav .log {
  width: 70px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 88%;
}

.nav .contenedorNav .log .imgLog:hover {
  animation-name: moverse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.nav .contenedorNav .log .imgLog {
  background: url(https://baproar.vtexassets.com/assets/vtex/assets-builder/baproar.bapro-store-theme/3.0.4/header/user___84d1228….png);
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
}

.nav .contenedorNav .carrito {
  width: 70px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.nav .contenedorNav .carrito .imgCarrito:hover {
  animation-name: moverse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.nav .contenedorNav .carrito .imgCarrito {
  height: 40px;
  width: 39px;
  background-image: url(https://baproar.vtexassets.com/assets/vtex/assets-builder/baproar.bapro-store-theme/2.0.39/header/shape___73e8a9752f4f025cafacb309f4fb1235.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}

.nav .contenedorNav .carrito .imgCarrito .numeroProductos {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 90%;
  left: 90%;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background-color: #279d2e;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .navCategorias {
  height: 60px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav .navCategorias .nCategoria:hover {
  transform: scaleX(1.03);
  color: #279d2e;
}

.nav .navCategorias .nCategoria {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border-right: 1px solid gray;
  transition: 0.2s;
  text-decoration: none;
  color: black;
}

.ulti {
  border-right: none;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
}

footer .contFooter {
  width: 50%;
  height: 100%;
  display: flex;
}

footer .contFooter .colum {
  width: 25%;
  font-size: 0.813rem;
  line-height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}

footer .contFooter .colum .filas {
  height: 8%;
  width: 100%;
}

.moreWite {
  margin: 0;
  font-size: 0.813rem;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  padding-bottom: 5px;
}

.mB {
  margin-bottom: 20px;
}

.menu {
  position: absolute;
  left: 14%;
}

/*index*/
.productos {

  width: 100%;
  display: flex;
  align-content: flex-end;
  flex-direction: row;
  margin-top: 100px;
  position: relative;
  align-items: center;
  justify-content: center;

}

.productos .izquierda {
  height: 70px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2392156863);
  position: absolute;
  top: 45%;
  left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 800;
}

.productos .izquierda .imgIzquierda {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../img/izquierda.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.productos .derecha {
  height: 70px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3882352941);
  position: absolute;
  top: 45%;
  right: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 800;
}

.productos .derecha .imgDerecha {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../img/derecha.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.productos .textoTarjeta {
  margin-left: 10%;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: self-end;
  font-weight: 500;
  font-size: 1.625rem;
  color: white;
}

.productos .tarjetas {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  /* width: 2px; */
  /* height: 400px; */
  display: flex;
  gap: 1rem;
  /* align-content: center; */
  /* align-items: center; */
  /* overflow-x: auto; */
  /* scroll-behavior: smooth; */
  flex-wrap: wrap;
  flex-direction: row;
}

.productos .tarjetas .tarjeta:hover {
  transform: scale(1.03);
}

.productos .tarjetas .tarjeta {
  box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.4);
  height: 381px;
  width: 250px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  flex-direction: column;

}

.Login {
  height: 450px;
  width: 450px;
  background: linear-gradient(75.32deg, rgba(18, 154, 163, 0.81) 23.22%, rgba(79, 204, 91, 0.88) 133.74%);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.6705882353);
  border-radius: 5px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.labelF {
  font-size: 0.8rem;
  position: absolute;
  top: -18px;
  left: 10px;
  padding: 3px;
  color: white;
}

.botonF {
  margin-top: 40px;
  height: 30px;
  width: 80%;
  background-color: #118c8c;
  color: #fff;
  border-radius: 5px;
  border: solid 1px grey;
}

.inputF {
  width: 98%;
  height: 35px;
  padding-left: 9px;
  background-color: rgba(2, 2, 2, 0);
  border: solid 1px black;
  border-radius: 5px;
}

.divF {
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.form {
  width: 80%;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos .tarjetas .tarjeta .imgTarjeta {
  width: 85%;
  height: 60%;
  background-image: url(../img/celular.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.productos .tarjetas .tarjeta .imgNombre {
  display: flex;
  width: 100%;
  height: 15%;
  color: #3c3c3b;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.productos .tarjetas .tarjeta .imgPrecio {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color: #279d2e;
  font-size: 1.5rem;
  font-weight: 700;
}

.categorias {
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.categorias .izquierda1 {
  height: 70px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2392156863);
  position: absolute;
  top: 45%;
  left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 979;
}

.categorias .izquierda1 .imgIzquierda1 {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../img/izquierda.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.categorias .derecha1 {
  height: 70px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3882352941);
  position: absolute;
  top: 45%;
  right: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 979;
}

.categorias .derecha1 .imgDerecha1 {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../img/derecha.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.categorias .contenedorCategorias {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 1rem;
}

.categorias .contenedorCategorias .tarjetaCategoria:hover {
  transform: scale(1.03);
}

.categorias .contenedorCategorias .tarjetaCategoria {
  min-width: 250px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.2s;
  text-decoration: none;
  color: black;
}

.categorias .contenedorCategorias .tarjetaCategoria .textoCategoria {
  height: 30px;
  width: 160px;
  background-color: white;
  position: absolute;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorias .contenedorCategorias .tarjetaCategoria .imgCategoria {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.masProductos {
  height: 540px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-content: flex-end;
  /* align-items: flex-end; */
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.masProductos .izquierda1 {
  height: 70px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2392156863);
  position: absolute;
  top: 45%;
  left: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 979;
}

.masProductos .izquierda1 .imgIzquierda1 {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../img/izquierda.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.masProductos .derecha1 {
  height: 70px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.3882352941);
  position: absolute;
  top: 45%;
  right: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 979;
}

.masProductos .derecha1 .imgDerecha1 {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
  object-fit: cover;
  background-image: url("../img/derecha.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.masProductos .textoTarjeta {
  margin-left: 10%;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: self-end;
  font-weight: 500;
  font-size: 1.625rem;
  color: black;
}

.masProductos .tecnologia {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  /* justify-content: space-between; */
  align-content: center;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
}

.masProductos .tecnologia .tarjeta:hover {
  transform: scale(1.03);
}

.masProductos .tecnologia .tarjeta {
  height: 381px;
  min-width: 250px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.masProductos .tecnologia .tarjeta .imgTarjeta {
  width: 85%;
  height: 60%;
  background-image: url(../img/celular.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.masProductos .tecnologia .tarjeta .imgNombre {
  display: flex;
  width: 100%;
  height: 15%;
  color: #3c3c3b;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.masProductos .tecnologia .tarjeta .imgPrecio {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color: #279d2e;
  font-size: 1.5rem;
  font-weight: 700;
}

.tarjetas::-webkit-scrollbar {
  display: none;
}

.contenedorCategorias::-webkit-scrollbar {
  display: none;
}

.tecnologia::-webkit-scrollbar {
  display: none;
}

/*verProducto*/
.contProducto {
  height: 700px;
  margin-top: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.contProducto .producto {
  height: 100%;
  width: 80%;
  display: flex;
}

.contProducto .producto .imgsProducto {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contProducto .producto .imgsProducto .imgMuestra:hover {
  border: 4px solid rgb(39, 157, 46);
}

.contProducto .producto .imgsProducto .imgMuestra {
  margin-top: 20px;
  min-width: 115px;
  height: 120px;
  border: 1px solid rgb(39, 157, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.contProducto .producto .imgsProducto .imgMuestra .contImg {
  width: 60%;
  height: 60%;
  background-image: url(https://baproar.vtexassets.com/arquivos/ids/309827-800-auto?v=638209837964000000&width=800&height=auto&aspect=true);
  background-size: contain;
  background-repeat: no-repeat;
}

.contProducto .producto .imgProdcuto {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.contProducto .producto .imgProdcuto .contImgProducto {
  width: 60%;
  height: 66%;
  background-size: contain;
  /* padding-left: 40px; */
  /* margin-left: 20px; */
  background-repeat: no-repeat;
}

.contProducto .producto .detallesProducto {
  height: 100%;
  width: 30%;
}

.contProducto .producto .detallesProducto .marca {
  color: #0cb9c2;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  line-height: 28px;
  margin-top: 12px;
}

.contProducto .producto .detallesProducto .titulo {
  height: 10%;
  font-weight: 500;
  font-size: 1.688rem;
  line-height: 36px;
  color: #3c3c3b;
  display: contents;
}

.contProducto .producto .detallesProducto .vendidoPor {
  font-size: 16px;
  line-height: 36px;
  color: #3c3c3b;
}

.contProducto .producto .detallesProducto .vendidoPor .azul {
  color: #3fa7e0;
  text-decoration: none;
}

.contProducto .producto .detallesProducto .precio {
  height: 10%;
  /* background-color: rgb(65, 5, 5); */
  margin-top: 20px;
  font-size: 2.81rem;
  font-weight: 700;
  line-height: 56px;
  color: #279d2e;
}

.contProducto .producto .detallesProducto .oferta {
  display: flex;
  white-space: pre;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  color: #000;
}

.contProducto .producto .detallesProducto .comprar {
  height: 8%;
  padding: 13px;
  font-weight: 500;
  text-transform: none;
  font-size: 1.25rem;
  background-color: rgb(39, 157, 46);
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
  font-size: 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.contProducto .producto .detallesProducto .comprar:hover {
  background-color: #fff;
  color: #279d2e;
  border: solid 2px black;
}

.contProducto .producto .detallesProducto .aCarrito {
  height: 8%;
  padding: 13px;
  font-weight: 500;
  text-transform: none;
  font-size: 1.25rem;
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
  font-size: 1.25rem;
  color: rgb(39, 157, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
  border: solid 1px rgb(39, 157, 46);
}

.contProducto .producto .detallesProducto .aCarrito:hover {
  background-color: #279d2e;
  color: #fff;
  border: solid 2px black;
}

.contInfoTecnica {
  display: flex;
  /* display: contents; */
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contInfoTecnica .infoTecnica {
  height: auto;
  width: 60%;
}

.contInfoTecnica .infoTecnica .titTecnica {
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px;
  padding: 0 0 16px;
  border-bottom: 1px solid #3c3c3b;
  font-weight: 500;
  color: #3c3c3b !important;
  font-size: 1.375rem;
  line-height: 33px;
}

.contInfoTecnica .infoTecnica .text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #3c3c3b;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*verTodosLosProductos*/
.contProductoss {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.contProductoss .contProductoss1 {
  width: 80%;
  display: flex;
}

.contProductoss .contProductoss1 .elegirCategoria {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.contProductoss .contProductoss1 .elegirCategoria .categoriaE {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.625rem;
  height: 60px;
  overflow: hidden;
  line-height: 30px;
  color: #3c3c3b;
  font-weight: 600;
  text-transform: capitalize;
}

.contProductoss .contProductoss1 .elegirCategoria .Cresultados {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 13px 0 23px;
  text-align: left;
  font-size: 1rem;
  color: #3c3c3b;
  font-weight: 600;
}

.contProductoss .contProductoss1 .elegirCategoria .Cresultados .space {
  width: 5px;
}

.contProductoss .contProductoss1 .elegirCategoria .Cresultados .letra {
  font-size: 1rem;
  font-weight: 400;
  text-transform: none;
  color: #3c3c3b;
}

.contProductoss .contProductoss1 .elegirCategoria .EleccionItemCategoria {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 18px;
  color: #3c3c3b;
  text-transform: uppercase;
  border-bottom: solid 1px grey;
}

.contProductoss .contProductoss1 .productosElegidos {
  width: 80%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.contProductoss .contProductoss1 .productosElegidos .seccionP1 {
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.contProductoss .contProductoss1 .productosElegidos .seccionP1 .tarjeta {
  margin: 10px;
  height: 341px;
  min-width: 250px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 2px 6px hsla(0, 0%, 54.9%, 0.5);
}

.contProductoss .contProductoss1 .productosElegidos .seccionP1 .tarjeta .imgTarjeta {
  width: 85%;
  height: 60%;
  background-image: url(../img/celular.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contProductoss .contProductoss1 .productosElegidos .seccionP1 .tarjeta .imgNombre {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color: #3c3c3b;
  font-weight: 500;
}

.contProductoss .contProductoss1 .productosElegidos .seccionP1 .tarjeta .imgPrecio {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color: #279d2e;
  font-size: 1.5rem;
  font-weight: 700;
}

/*login*/
.contenLogin {
  height: 90vh;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://baufest.com/wp-content/uploads/2021/04/side-view-of-woman-at-home-using-headphones-and-tablet-min-1200x675.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenLogin .Login {
  height: 450px;
  width: 450px;
  background: linear-gradient(75.32deg, rgba(18, 154, 163, 0.81) 23.22%, rgba(79, 204, 91, 0.88) 133.74%);
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.6705882353);
  border-radius: 5px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenLogin .Login .tituloLogin {
  height: 18%;
  font-weight: 500;
  font-size: 1.688rem;
  line-height: 36px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenLogin .Login .form {
  width: 80%;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenLogin #form h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}

.contenLogin #form>div {
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.contenLogin #form>div label {
  font-size: 0.8rem;
  position: absolute;
  top: -18px;
  left: 10px;
  padding: 3px;
  color: white;
}

.contenLogin #form>div input {
  width: 98%;
  height: 35px;
  padding-left: 9px;
  background-color: rgba(2, 2, 2, 0);
  border: solid 1px black;
  border-radius: 5px;
}

.contenLogin #form>div input:active,
.contenLogin #form>div input:active:focus {
  border: 3px solid #118c8c;
  background-color: #fff;
}

.contenLogin #form p {
  text-align: center;
  margin-top: 10px;
  font-size: raleway;
}

.contenLogin #form p a {
  color: white;
}

.contenLogin .form input[type=submit] {
  margin-top: 40px;
  height: 30px;
  width: 80%;
  background-color: #118c8c;
  color: #fff;
  border-radius: 5px;
  border: solid 1px grey;
}

/*carrito*/
.seccionP2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.seccionP2 .tarjeta {
  margin: initial;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 90px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
  box-shadow: 0 2px 6px hsla(0, 0%, 54.9%, 0.5);
}

.seccionP2 .tarjeta .imgTarjeta {
  width: 30%;
  height: 80%;
  background-image: url(../img/celular.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.seccionP2 .tarjeta .imgNombre {
  width: 30%;
  color: #3c3c3b;
  font-weight: 500;
}

.seccionP2 .tarjeta .imgPrecio {
  width: 20%;
  color: #279d2e;
  font-size: 1.1rem;
  font-weight: 700;
}

.scroll {
  max-height: 410px;
  overflow-y: scroll;
  margin-top: 60px;
  margin-bottom: 60PX;
}

.seccionEliminar {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.eliminarTodo {
  width: 95%;
  height: 7%;
  padding: 13px;
  font-weight: 500;
  text-transform: none;
  font-size: 1.25rem;
  background-color: rgb(241, 47, 47);
  border-radius: 5px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
  font-size: 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eliminarProducto {
  width: 15px;
  height: 15px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/105/105739.png);
  background-size: contain;
}

.extra {
  min-height: 600px;
}

.productosElegidos::-webkit-scrollbar {
  -webkit-appearance: none;
}

.productosElegidos::-webkit-scrollbar:vertical {
  width: 10px;
}

.productosElegidos::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.productosElegidos::-webkit-scrollbar:horizontal {
  height: 10px;
}

.productosElegidos::-webkit-scrollbar-thumb {
  background-color: #279d2e;
  border-radius: 10px;
  border: 2px solid #f1f2f3;
}

.productosElegidos::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*MediaQuery*/
@media (max-width: 1250px) {
  .nav .contenedorNav .log .imgLog {
    margin-top: 6px;
  }

  .nav {
    padding: 10px;
    height: 140px;
  }

  .nav .contenedorNav {
    height: 160px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
  }

  .nav .contenedorNav .log {
    left: 83%;
    display: initial;
    height: initial;
    top: 0;
  }

  .nav .contenedorNav .logo {
    height: initial;
    top: 0;
  }

  .nav .contenedorNav .logo .imgLogo {
    height: 60px;
    width: 80px;
  }

  .nav .contenedorNav .carrito {
    display: initial;
    height: initial;
    top: 0;
  }

  .nav .contenedorNav .carrito .imgCarrito {
    height: 40px;
    width: 40px;
    margin-top: 6px;
  }

  .nav .contenedorNav .estilosBuscador {
    width: 100%;
  }

  .nav .contenedorNav .estilosBuscador .seleccionados {
    top: 105%;
    width: 100%;
  }

  .nav .navCategorias {
    display: none;
  }

  .contProductoss .contProductoss1 {
    width: 90%;
  }

  .productos {
    margin-top: 140px;
  }

  .contProductoss {
    margin-top: 140px;
  }

  .contProducto {
    margin-top: 140px;
  }

  .contenLogin {
    margin-top: 140px;
  }

  .extra {
    height: 700px;
  }

  .scroll {
    height: 800px;
  }
}

@media (max-width: 1170px) {
  footer {
    height: initial;
  }

  footer .contFooter {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: initial;
  }

  footer .contFooter .colum {
    width: 100%;
  }

  footer .contFooter .colum .filas {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 20px;
    min-width: 150px;
  }

  .contProductoss .contProductoss1 {
    display: flex;
    flex-direction: column;
  }

  .contProductoss .contProductoss1 .elegirCategoria {
    display: flex;
    flex-direction: column;
    width: initial;
  }

  .contProductoss .contProductoss1 .productosElegidos {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
  }

  .contProductoss .contProductoss1 .productosElegidos .seccionP {
    min-height: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contProductoss .contProductoss1 .productosElegidos .seccionP .tarjeta {
    margin: initial;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 90px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0 2px 6px hsla(0, 0%, 54.9%, 0.5);
  }

  .contProductoss .contProductoss1 .productosElegidos .seccionP .tarjeta .imgTarjeta {
    width: 60%;
    height: 80%;
    background-image: url(../img/celular.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .seccionEliminar {
    width: 100%;
    margin-top: initial;
  }

  .eliminarTodo {
    width: 50%;
    height: 15%;
  }
}

@media (max-width: 933px) {
  .contInfoTecnica .infoTecnica {
    width: 97%;
  }

  .contProducto {
    height: initial;
    margin-top: 140px;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }

  .contProducto .producto {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contProducto .producto .imgsProducto {
    display: none;
  }

  .contProducto .producto .imgProdcuto {
    height: 300px;
    min-width: 400px;
    width: initial;
    display: flex;
    justify-content: center;
  }

  .contProducto .producto .imgProdcuto .contImgProducto {
    width: 85%;
    height: initial;
  }

  .contProducto .producto .detallesProducto {
    width: 97%;
  }

  .contProducto .producto .detallesProducto .comprar {
    margin-top: 7%;
  }

  .contProducto .producto .detallesProducto .aCarrito {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .productos {
    height: 440px;
  }

  .productos .tarjetas .tarjeta {
    height: 280px;
    min-width: 190px;
  }

  .masProductos {
    height: 440px;
  }

  .masProductos .tecnologia .tarjeta {
    height: 280px;
    min-width: 190px;
  }

  .nav .contenedorNav .log {
    left: 78%;
  }

  .categorias {
    height: 250px;
  }

  .categorias .contenedorCategorias {
    height: 200px;
  }

  .categorias .contenedorCategorias .tarjetaCategoria {
    min-width: 190px;
    height: 170px;
    overflow: hidden;
    border-radius: 20px;
  }
}

@media (max-width: 680px) {
  .nav .contenedorNav .log {
    left: 70%;
  }
}

@media (max-width: 590px) {
  .productos {
    height: 320px;
    width: 100%;
    background: linear-gradient(75.32deg, rgb(18, 154, 163) 23.22%, rgb(79, 204, 91) 133.74%);
    display: flex;
    align-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
    margin-top: 140px;
    position: relative;
  }

  .productos .izquierda {
    display: none;
  }

  .productos .derecha {
    display: none;
  }

  .productos .textoTarjeta {
    margin-left: 3%;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .productos .tarjetas {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    height: 80%;
    display: flex;
    gap: 0.5rem;
    align-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .productos .tarjetas .tarjeta {
    height: 240px;
    min-width: 150px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .contenLogin .Login {
    width: 350px;
  }

  .nav .contenedorNav .log {
    left: 62%;
  }

  .masProductos {
    height: 320px;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-content: flex-end;
    /* align-items: flex-end; */
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
  }

  .masProductos .izquierda1 {
    display: none;
  }

  .masProductos .derecha1 {
    display: none;
  }

  .masProductos .textoTarjeta {
    margin-left: 3%;
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
  }

  .masProductos .tecnologia {
    margin-left: 2%;
    width: 100%;
    height: 85%;
    display: flex;
    /* justify-content: space-between; */
    align-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 0.5rem;
  }

  .masProductos .tecnologia .tarjeta {
    height: 240px;
    min-width: 150px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .categorias .izquierda1 {
    display: none;
  }

  .categorias .derecha1 {
    display: none;
  }

  .categorias .contenedorCategorias {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 0.5rem;
    margin-left: 2%;
  }

  .categorias .contenedorCategorias .tarjetaCategoria {
    min-width: 150px;
    height: 170px;
    overflow: hidden;
    border-radius: 20px;
  }

  .categorias .contenedorCategorias .tarjetaCategoria .textoCategoria {
    height: 30px;
    width: 120px;
    background-color: white;
    position: absolute;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }
}